.container {
  text-align: center;
  margin-top: 30px;
}
table {
  margin: auto;
}

input {
  font-size: 30px;
  padding: 20px 15px;
  border-radius: 30px;
  outline: none;
  width: auto;
}
button {
  font-size: 24px;
  background-color: black;
  color: white;
  width: 50px;
  height: 40px;
  border-radius: 10px;
  outline: none;
}
